<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 使用spring配置变量 -->
    <springProperty scope="context" name="LOG_PATH" source="logback.path"/>
    <springProperty scope="context" name="LOG_LEVEL" source="logback.level"/>
    <!-- 从高到地低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
    <!-- 日志输出规则 ：根据当前ROOT级别，日志输出时，级别高于root的默认的级别时依然会输出，比如error高于info，定义info依然会输出error -->
    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss:SSS} [%X{requestId}] [%X{requestIp}] %highlight([%-5level]) %boldCyan([%class{1}:%line]) %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}.%i.txt</FileNamePattern>
            <!--保留最多30天的存档文件，删除旧文件-->
            <MaxHistory>30</MaxHistory>
            <!--每个文件最大容量-->
            <maxFileSize>8MB</maxFileSize>
            <!--所有归档文件的总大小-->
            <totalSizeCap>20GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>【%date{yyyy-MM-dd HH:mm:ss:SSS} │ %-5level │ %class:%line】[%X{requestId}] [%X{requestIp}] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>